{% extends "base.html" %} {% block content %}
<div class="container" style="padding: 25px 0 25px;">
  <div class="col">
    <div style="background-color: #fbcbcb; padding: 25px;">
      <h4>
        (7/16/20) A Message from Brain Arts Organization Co-Directors:
      </h4>
      <p style="text-indent: 40px;">
        Hello family. We have been busy since our last check-in adapting our
        programming and resources to increase our ability to support the Black
        Lives Matter movement; specifically offering art installations, sound
        gear, transportation and other BAO resources to a number of protests and
        actions. This represents a doubling down on our equity work and
        initiatives, and we are proud to have paid out almost $10K direct to
        BIPOC artists and allies since the beginning of COVID. Our advocacy
        efforts continue as well, amplifying voices that are demanding change in
        our newspaper, blog and in conversation with those in the art and
        culture landscape in our city. You can continue to support our efforts
        by contributing on our Withfriends platform and feel free to specify
        what your donation goes toward (whether it be public art or snacks and
        PPE for protests). The next time you hear from us it will be from our
        new leadership structure (four directors), reflecting the new balance of
        power and representation we would like to see in more organizations (a
        minimum 50/50 representation of POC leadership). Until then stay focused
        and stay safe!
        <br /><br />
        - Sam Potrykus & Emma Leavitt
      </p>
    </div>

    <img class="d-block w-100" src="/static/img/page_break.png" />

    <img class="about_img" src="/static/img/about.png" />

    <h1 style="text-align: center;">Mission Statement</h1>
    <br />
    <p>
      The mission of Brain Arts Org is to realize creative independence in
      systematically undervalued communities, including BIPOC, ALAANA+,
      LGBTQIA+, emerging and experimental artists. Through adaptive methods and
      hyperlocal engagement, we foster a culture where individuals create their
      own power and opportunities.
    </p>
    <br />
    <h2 style="text-align: center;">Projects + Programs Summary</h2>
    <br />
    <h4 style="font-weight: bold;">Dorchester Art Project</h4>
    <p>
      DAP houses 14 art studios (with 24-hour access and artist support), an Art
      Gallery and Exhibition Space (with monthly and pop-up exhibitions), a
      Work/Shop (with free coworking space and a local vendor store front open 3
      days each week), and the Education initiative (providing workshops on-site
      and at community partner facilities and schools).
    </p>
    <br />

    <h4 style="font-weight: bold;">Boston Compass Newspaper</h4>
    <p>
      The monthly Boston Compass paper acts as an Arts & Culture guide, with
      8,000 issues distributed monthly all over Greater Boston, while the
      digital Chosen Shows calendar on brain-arts.org offers up listings for
      daily art, music, and film events.
    </p>
    <br />

    <h4 style="font-weight: bold;">Brain Arts Market</h4>
    <p>
      A bi-monthly arts and community market, Brain Arts Market is hosted at the
      Cambridge Community Center.
    </p>
    <br />

    <h4 style="font-weight: bold;">Brain Arts Org Events</h4>
    <p>
      Events produced by Brain Arts include Dreamscape JP (a bi-monthly concert
      and visual installation at Hope Central Church), the DAP Open Mic
      (featuring local music and poetry on the last tuesday of every month at
      DAP ), BAO pop-up concerts (monthly all-ages shows at DAP or other
      community spaces with touring and local music of all genres and from
      various musical subcultures and underground scenes), and BAO pop-up art
      shows (drink & draws, crafts nights and other BAO-led visual art events).
    </p>
    <br />
    <h1 style="text-align: center;">Our Board Members</h1>
    <br />
    <div class="row">
      <div class="col-md-3">
        <img class="d-block w-100" src="/static/img/samp.jpg" />
        <br />
      </div>
      <div class="col-md-9">
        <h5 style="font-weight: bold;">Sam Potrykus:</h5>
        <p>
          Sam Potrykus is the Founder and Co-Director of Brain Arts
          Organization, Founder of the Boston Compass newspaper and Director of
          Dorchester Art Project. He grew up on the South Shore of Boston
          (Braintree and Wareham) and has been living in Jamaica Plain for the
          last 10+ years where he discovered his passion for community building.
          He is also a musician, singing in his own band Ten Gallon Hat and
          playing bass for local rapper Red Shaydez, poet and community leader
          Amanda Shea and Classical Indian vocalist Narmeen Saiyad from Assam.
        </p>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-3">
        <img class="d-block w-100" src="/static/img/saritharamakrishna.jpg" />
        <br />
      </div>
      <div class="col-md-9">
        <h5 style="font-weight: bold;">Saritha Ramakrishna:</h5>
        <p>
          Saritha Ramakrishna works in environmental advocacy in Boston, while
          occasionally freelance writing about music, art and urban planning
          issues. She is originally from Phoenix, Arizona, and got involved with
          Brain Arts Organization early on in 2016. She's a believer in
          community art spaces.
        </p>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-3">
        <img class="d-block w-100" src="/static/img/emmaleavitt.jpg" />
        <br />
      </div>
      <div class="col-md-9">
        <h5 style="font-weight: bold;">Emma Leavitt:</h5>
        <p>
          Emma Leavitt is Co-Director of Brain Arts Organization, Gallery
          Director at Dorchester Art Project, and curator at 1369 Coffeehouse,
          platforms she uses to empower others and facilitate community-building
          arts experiences. She is also an independent artist herself under the
          name
          <a href="http://www.soleiarts.com/" target="_blank">Solei Arts</a>.
        </p>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-3">
        <img class="d-block w-100" src="/static/img/jelanihaynes.jpg" />
        <br />
      </div>
      <div class="col-md-9">
        <h5 style="font-weight: bold;">Jelani Haynes:</h5>
        <p>
          Jelani Haynes is Dorchester, MA-born emcee, producer, and engineer. He
          currently serves as a Community Engagement Manager for Boston Public
          Schools, and previously served as the Director of Community Outreach
          at Sportsmen's Tennis and Enrichment Center for ten years. Jelani also
          serves as a volunteer with the Boston Arts Music and Soul (BAMS)
          Festival organization. He lives to further the greatness of his
          community and to support the work of his fellow community members.
        </p>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-3">
        <img class="d-block w-100" src="/static/img/marcdrinkwater.jpg" />
        <br />
      </div>
      <div class="col-md-9">
        <h5 style="font-weight: bold;">Marc Drinkwater:</h5>
        <p>
          Marc Drinkwater is a Federally licensed tax accountant. Born in
          Boston, raised in NH, currently in Haverhill, Marc has over 15 years'
          experience working with individuals, businesses, estates, trusts and
          non-profits. He is also a musician who has been organizing
          experimental music performances in and around Boston since 2012. He
          believes free artistic expression is a path to self-knowledge and a
          way to grow empathy for others.
        </p>
      </div>
    </div>
    <br />
    <h1 style="text-align: center;">History</h1>
    <br />
    <p style="text-indent: 40px;">
      Brain Arts Organization began as Boston Hassle, a project formed in 2009
      when co-founders Sam Potrykus and Dan Shea joined forces and began
      leveraging their combined 10+ years of booking around Greater Boston. The
      foundation of the organization at that time was the founders’ shared
      passion for all-ages programming and artists whose work defied
      categorization. Shea already had a blog for his show-booking operation and
      label Bodies Of Water Arts And Crafts and combined with Potrykus’ Boston
      Compass newspaper (then a free, monthly zine distributed all over Boston)
      they formed BostonHassle.com and then Boston Hassle Shows in 2011. After
      developing a significant following and volunteer base, Boston Hassle
      obtained 501(c)(3) status and rebranded as Brain Arts Organization, Inc.
      (BAO) in 2013. A year later the group started the Brain Arts Market (then
      known as the Black Market Flea), a bi-monthly market featuring original
      artwork and handmade leather, glass, and ceramic goods, along with
      second-hand and reclaimed items. Its scale and focus on independent
      non-commercial artisans has made BAM one of the most highly-attended
      markets in the area, often drawing over 1,000 visitors per event.
    </p>
    <p style="text-indent: 40px;">
      Between 2014 and 2017 the group continued to commit countless volunteer
      hours to highlighting music and art shows as well as organizing festivals
      and branching out into arts advocacy. The addition of Molly Dower
      (accountant) and Emma Leavitt (Creative Director) propelled the group to a
      new level of professionalism and sustainability. While in the pursuit of
      their own physical space,Potrykus recalled a space he had been to before,
      then called the Howard Art Project (HAP) down in Dorchester, where some
      friends had started a studio and gallery space. After reaching out to book
      Mourning A BlkStar (Cleveland) for a Hassle show, he discovered that his
      friends who ran the HAP (and also recently renamed it Dorchester Art
      Project) were looking for someone to take over the lease. With the help of
      Anya Smolnikova, Potrykus, Dower and their fellow volunteers officially
      took over operations at DAP in winter of 2017.
    </p>
    <p style="text-indent: 40px;">
      In the past 3 years Dorchester Art Project (DAP) has blossomed into a
      community arts center complete with 14 artist studios, a gallery and
      exhibition space, storefront, co-working space and an intimate performance
      hall. DAP programming includes art exhibitions, music performances,
      monthly open mics, artist-in-residency programs, and after school art
      education programs. All DAP events are drug-free, all-ages, and open to
      the public. Despite (or perhaps because of) their unique and unorthodox
      management structure, DAP was named the 2019 Intimate Live Music Venue of
      the Year by the Boston Music Awards. Running DAP has taught Brain Arts Org
      so much about not only their mission and their opportunity to serve
      marginalized artists but also about the value in committing to those
      artists and individuals in Dorchester specifically. With the addition of
      Emma Leavitt as co-director on the board, BAO has become a more adaptive
      and mission-centered org with a commitment to learning about their
      hyperlocal community, and how to be an inclusive and equitable arts
      nonprofit.
    </p>
    <p style="text-indent: 40px;">
      The journey continues into the new decade with several significant changes
      to the nonprofit. For one, in the fall of 2019 BAO dropped the Boston
      Hassle blog as a project and have re-focused their show booking and
      blogging efforts on the mission that guides them. BAO volunteers continue
      to produce a music and culture blog (brain-arts.org) and book all-ages
      concerts all over Greater Boston (including the first Damo Suzuki
      appearance in Boston in over 10 years). In February 2020 Brain Arts
      Organization welcomed Marc Drinkwater and Dorchester native Jelani Haynes
      to the board as well as new accountant Dorchester native Ava Fields to the
      BAO staff. However BAO’s strategic plan was upended due to the global
      coronavirus pandemic and the team was forced to change gears into survival
      mode.
    </p>
  </div>
</div>
{% endblock %}
