<!DOCTYPE html>
<html lang="en">

<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-161516324-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-161516324-1');
		</script>
		{% block head %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Title -->
		<title>Brain Arts Org</title>
		<!-- Bootstrap CSS -->
		<link href="static/css/bootstrap.min.css?v=1.0" rel="stylesheet">
		<!-- Custom styles -->
		<link href="static/css/styles.css?v=1.4" rel="stylesheet">
		<!-- Browser Icon -->
		<link rel="icon" href="static/img/mascot.png">
		{% endblock %}		
</head>

<body id="page-top">
		{% block content %}{% endblock %}
</body>

<footer id="myFooter" style="padding-top: 20px; padding-bottom: 30px; background-color: #67cb99"> <!-- #67cb99  #006666-->
		{% block footer %}
		<div class="container">
			<div class="row">
				<img src="static/img/footer_border.png" class="img-footer">
			</div>
			<div class="row">
				<div class="col" align="center">
					<div class="row">
						<div class="col">
							<a href="https://brain-arts.org/">  
								<img src="static/img/Brain_Arts_Shorthand_BlackWhite_Knockout.png" style="width: 60%;">
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<a href="https://issuu.com/bostoncccompass">
								<img src="static/img/bclogo.png" style="width: 50%;" align="right">
							</a>
						</div>
						<div class="col">
							<a href="https://dorchesterartproject.org/">
								<img src="static/img/daplogo.png" style="width: 50%;" align="left">
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm" align="center">
					<p class="m-0 text-center text-black" style="padding-right: 50px; padding-left: 50px;">We are a volunteer-run 501(c)(3) arts nonprofit for Greater Boston. Our mission is to create platforms for fringe artistic communities. Through our inclusive, participatory efforts, we aspire to uplift communities and fill cultural voids in our unique region of New England.</p>
					<br>
					<p class="m-0 text-center text-black">Copyright &copy; Brain Arts Org 2019</p>
				</div>
			</div>
		</div>
		{% endblock %}
</footer>

{% block scripts %}
		<!-- Bootstrap core JavaScript -->
		<script src="static/jquery/jquery.min.js"></script>
		<script src="static/js/bootstrap.bundle.min.js"></script>
		<!-- Plugin JavaScript -->
		<script src="static/jquery-easing/jquery.easing.min.js"></script>
		<!-- Custom JavaScript for this theme -->
		<script src="static/js/scrolling-nav.js"></script>
{% endblock %}

</html>
