{% extends "base.html" %}
{% block content %}
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/"><img src="static/img/bao_logo.png" class="img-logo"></a>
      <!--<a class="navbar-brand js-scroll-trigger" href="#page-top"></a>-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item pull-right">
            <a class="nav-link js-scroll-trigger" href="/">Home</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="blog-header">
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h1>Brain Arts Blog:</h1>
          <div class="blog-listings">
            <br>
            <a href="/no_fucker" class="blog-link">No Fucker Interview</a>
            <h5>By Ghost</h5>
            <p class="blog-blurb">
              Nevermind the 250 word limit, Here's PURE IMPACT! Recently, I had the chance to chat about band history, heroin addiction, recovery, and what is yet to come from Upstate NY D-beat Master, No Fucker. To start off, could you give us a brief history for those who may be unfamiliar? And what is the current No Fucker line-up?Johnny and I started the band in the fall of 2002. We were in a bland generic crust band that wasn’t meeting our expectations. We needed something more. We had a vision of an American noise dbeat band, something that other people told us was impossible...
            </p>
            <br>
            <a href="/dn4s" class="blog-link">The Fight for Affordable Housing in Dorchester</a>
            <h5>By Claire Foley</h5>
            <p class="blog-blurb">
              On Thursday, the 17th of October, the local Dorchester organization DOT Not For Sale (DN4S) met in the cafeteria of the Vietnamese American Community Center for their monthly community dinner. At the beginning of the gathering, folks were asked to raise their hands in response to a series of questions. “How many people here are renters? Homeowners? How many are landlords?” Most people attending were renters, but there were several homeowners, and a lone landlord. “Who spends more than 30% of their monthly income on rent? More than 50%? Who is fighting for their home?” Hands were in the air for all three questions...
            </p>
            <br>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
