{% extends "base.html" %} {% block title %}
<title>Boston Compass Blog</title>
<meta property="og:title" content="Boston Compass Blog" />
<meta
  property="og:image"
  content="https://brain-arts.org/static/img/arty.jpg"
/>
{% endblock %} {% block content %}
<div class="container" style="padding: 25px;">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <img src="static/img/bcn-header.png">
      <a href="https://dap2020.square.site/bcn-store" target="_blank"><img src="static/img/bcn-ad.png" style="display: block;width: 60%;max-width: 500px;margin-left: auto;margin-right: auto;"></a>
      <div class="blog-listings">
        <br />
        {% for post in posts %}
        <div class="row">
          <div class="col-md-4">
            <img
              src="static/upload/{{ post.img_id }}"
              style="
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
              "
            />
          </div>
          <div class="col-md-8">
            <a href="/blog?post={{ post.link_name }}" class="blog-link"
              >{{ post.title }}</a
            >
            <h5>By {{ post.author }}</h5>
            <p>{{ post.date_published }}</p>
            <p class="blog-blurb">
              {{ post.content|safe }}
            </p>
          </div>
        </div>
        <br /><br />
        {% endfor %}

        {% if request.args.get('page') is not none and request.args.get('page') | int > 1 %}

        <a href="/blog?page={{ request.args.get('page') | int - 1 }}" class="btn btn-secondary" style="float: left;">Previous Page</a>
        <a href="/blog?page={{ request.args.get('page') | int + 1 }}" class="btn btn-secondary" style="float: right;">Next Page</a>

        {% else %}

        <a href="/blog?page=2" class="btn btn-secondary" style="float: right;">Next Page</a>

        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
