<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Brain Arts Org</title>

  <!-- Bootstrap core CSS -->
  <link href="static/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/styles.css" rel="stylesheet">



</head>

<body id="page-top">

  <!-- Navigation -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="static/img/bao_logo.png" class="img-logo"></a>
      <!--<a class="navbar-brand js-scroll-trigger" href="#page-top"></a>-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <!--
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Projects
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="nav-link js-scroll-trigger" href="#DAP">Dorchester Art Project</a>
              <a class="dropdown-item" href="#BMF">Brain Market Flea</a>
              <a class="dropdown-item" href="#BC">Boston Compass</a>
            </div>
          </li>
          -->
          <li class="nav-item pull-right">
            <a class="nav-link js-scroll-trigger" href="/index">Home</a>
          </li>
          
          <!--
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://withfriends.co/brain_arts_organization_inc">Donate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://docs.google.com/forms/d/e/1FAIpQLScssa9lAj2SxgiCUiizpFB03oRMVtVPXoF9bQBOATWh4jr8xw/viewform">Volunteer</a>
          </li>
          -->
        </ul>
      </div>
    </div>
  </nav>

  <section class="blog-header">
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>The Fight for Affordable Housing in Dorchester</h2>
          <h5>with DOT Not For Sale</h5>
          <h5>By Claire Foley</h5>
          <br>
          <img src="static/img/affordable_boston.png" style="display: block;margin-left: auto;margin-right: auto; width: 75%;">
          <p style="padding-left: 90px;">Source: DOT Not For Sale</p>
          <p class="lead">On Thursday, the 17th of October, the local Dorchester organization DOT Not For Sale
(DN4S) met in the cafeteria of the Vietnamese American Community Center for their monthly
community dinner. At the beginning of the gathering, folks were asked to raise their hands in
response to a series of questions. “How many people here are renters? Homeowners? How
many are landlords?” Most people attending were renters, but there were several homeowners,
and a lone landlord. “Who spends more than 30% of their monthly income on rent? More than
50%? Who is fighting for their home?” Hands were in the air for all three questions.</p>
          <p class="lead">DN4S is one of several grassroots organizations around the city that is fighting against
community displacement in Boston. I had the pleasure of attending this month’s meeting where I
was able to learn more about this collective and their emphasis on empowering those most at
risk.</p>
          <p class="lead"><a href="https://www.facebook.com/pg/DotNot4Sale/about/?ref=page_internal">DOT Not For Sale came together in 2017</a> when Dorchester residents involved with other
neighboring activist organizations became concerned with the threat of gentrification and
displacement in their community. Members began to organize with the goal of placing those
most likely to be affected by new housing plans in power in the organization. The group has
been active in their advocacy, including hosting rallies, educating fellow residents, and
protesting development planning.</p>
        <p class="lead">At the center of DN4S are their monthly community dinners. When I attended October’s
community dinner, I observed DN4S’s commitment to being an inclusive and accessible space
for members. DN4S provided childcare, interpretation, and occasional ridesharing. Powerpoint
slides guided along the meeting, but the atmosphere of the room was much more of a
conversation than a presentation. The meeting began with DN4S’s mission statement being
read aloud in Creole, Vietnamise, and English.</p>
        <p class="lead"><i>“We are committed to building a multi-racial, multi-cultural, multi-lingual, multi-
generational, REAL community process that centers Dorchester residents most at risk of
displacement in decision making. We will build together and fight for a vision of what we
want and need in our community and seek unity as tenants, homeowners, and small
landlords.”</i></p>
        <p class="lead">Next, each speaker briefly discussed a part of the statement that stood out to them.
Though the dinner consisted of reports, recaps, and planning, there was also audience
participation, feedback, local art, and activities; community members were always the center of
the meeting, rather than a sole speaker. Throughout the evening, the conversation of the dinner
was working towards a common goal— fighting back against Boston Planning and
Development’s “PLAN: Glover’s Corner”.</p>
        <img src="static/img/building_plan.png" style="display: block;margin-left: auto;margin-right: auto; width: 75%;">
        <p style="padding-left: 90px;">Source: Dorchester Reporter</p>
        <p class="lead"><a href="http://www.bostonplans.org/getattachment/1db9f55e-493f-485f-9e5e-4f31548e07a8">PLAN: Glover’s Corner</a> is an initiative to develop new housing
between the Savin Hill and Fields Corner red line T
stops. Although investment in housing initially
sounds like a plan that would benefit Dorchester, the
new housing is aimed to attract higher-income
residents than those who live in the area. One such
project, <a href="http://www.bostonplans.org/getattachment/90303f74-ba6c-4d4f-9d0a-f47de68b2cf6">DOT Block</a>, is a major topic of focus for
DN4S. DOT Block is a mixed-use residential and
retail development along Dorchester Ave, Hancock
St, and Pleasant St that is aimed to attract what the
city considers to be middle income residents, while
also including <a href="https://dorchester.comunicas.org/2019/04/17/dorchester-not-for-sale-denounce-bpdas-dot-block-approval-despite-displacement-crisis/">66 (13.5%)</a> affordable housing units.
Although DOT Block claims to be a project that will
be beneficial for Dorchester, DN4S is fighting back
and bringing awareness to the harm of these new
housing developments in their community.
At the center of the issue are the ways the City of
Boston determines how incomes are categorized
and what they consider to be “affordable housing.”</p>
        <p class="lead">In 2000, the City of Boston rolled out the
Inclusionary Development Policy (IDP) , which
requires that 13% of “<a href="http://www.bostonplans.org/planning/planning-initiatives/inclusionary-development-policy-2019-update">market-rate housing developments</a> with ten or more units” must be
affordable housing units. To determine income levels in Boston, IDP uses statistics based on
Area Median Income (AMI), which is meant to provide data on the median income levels based
on individual incomes and income per household in Boston. AMI however, inexplicably includes
incomes from areas such as <a href="https://www.affordableboston.org/real-boston-incomes">Newton, Brookline, and parts of New Hampshire</a> to calculate
Boston’s AMI, rendering it extremely inaccurate. AMI currently lists the median income for an
individual in Boston at $75,350 a year, and the median income for a household of four at
$113,300 a year. This is what the <a href="https://www.affordableboston.org/real-boston-incomes">Coalition for a Truly Affordable Boston calls a “broken
statistic”.</a></p>

        <p class="lead">These inflated income statistics
present many problems, as is the case
with DOT Block. DOT Block is aimed to
attract renters that IDP considers
“middle-income,” which would be
residents with much higher incomes
compared to Dorchester’s median
household income of <a href="http://www.bostonplans.org/getattachment/cf81f002-ca73-4e12-9f37-ce6cbdb865c3">$47,200 as of 2015.</a>
With higher income levels comes jumps
in rent prices that are out of reach for the
average Dorchester resident, and as
history shows, <a href="https://www.bostonherald.com/2018/11/14/roxbury-residents-say-theyre-being-driven-out/">this process of

gentrification drives out the lower income members of communities</a>, most of whom are people of
color. DOT Block claims to be providing 66 affordable housing units in their 488 unit
development, but this is yet another slap in the face for Dorchester residents. Due to IDP’s use
of AMI to determine affordable housing, these supposed affordable units are not actually
accessible to many Dorchester residents, especially those most in need of affordable living. IDP
currently makes rental units “affordable” for an individual making $55,500, and households
making $79,300, or in other words, 70% of the median income in Boston. These numbers are
not reflective of those most in need of affordable housing in Boston, and much less Dorchester,
which has <a href="http://www.bostonplans.org/getattachment/f1ecaf8a-d529-40b6-a9bc-8b4419587b86">the highest population of people living under the poverty line in Boston, accounting
for 21.2% of Boston’s impoverished population.</a> Specifically in Glover’s Corner, <a href="https://www.bostonglobe.com/metro/2019/09/06/boston-rises-should-all-residents-wonder-what-development-will-bring-dorchester-neighborhood/WVsYwjcEC2J1LEwKjj9h4N/story.html">half of residents
make below $50,000 a year.</a> It is due to this systemic negligence from the city that residents of
Dorchester have been taking the fight into their own hands to mobilize, and spread the word that
they will not let their homes be taken from them.</p>
        <img src="static/img/blog11.png" class="img-blog">
        <p style="padding-left: 90px;">Source: Coalition for a Truly Affordable Boston</p>
        <p class="lead">DN4S and their allies, such as the Coalition for a Truly Affordable Boston, have made
specific demands addressing the housing inequality and community displacement in the city.
They call for one third of new housing units to be developed as affordable housing, but not by
the Inclusionary Development Policy’s broken definition of affordable. Rather, affordability for
renters would be accessible for those who make $23,800 to $55,500 a year, while affordable
homeownership would be accessible for those who make $39,700 to $79,350 a year. DN4S has
<a href="http://sparechangenews.net/2017/12/activists-dorchester-planners-not-sale/">written letters</a>, <a href="https://sampan.org/2019/04/bpda-approves-massive-unaffordable-dot-block-development-over-community-concerns-about-displacement/">attended meetings</a>, <a href="https://www.facebook.com/events/511558736241215/">held protests</a> and <a href="https://www.facebook.com/events/684439568631903/">spread the word</a> about their cause, but
work still needs to be done.</p>
        <p class="lead">If you are interested in joining the fight against the displacement crises and want to help
raise affordability in Boston, reach out to DN4S at <a href="mailto:dotnot4sale@gmail.com">dotnot4sale@gmail.com</a>, attend a community
dinner (every third Thursday of the month), learn more about PLAN: Glover’s Corner, sign
DN4S’s petition for the future of their neighborhood, and support those who are fighting to keep
their homes.</p>
          <br>
          <p style="font-style: italic;">Images courtesy of Coalition for a Truly Affordable Boston</p>
        </div>
      </div>
    </div>
  </section>

  <!--
  {% if blogs %}
    {% for blogpost in blogs %}
      <section>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2>{{ blogpost.title }}</h2>
              <h5>{{ blogpost.date }}</h5>
              <p class="lead">{{ blogpost.text }}</p>
            </div>
          </div>
        </div>
      </section>
    {% endfor %}
  {% else %}
    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>No posts yet.  Check back later!</h2>
          </div>
        </div>
      </div>
    </section>
  {% endif %}
  -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Brain Arts Organization, a 501(c)(3) non-profit brought to you by the musicians, artists, writers, and enthusiasts of the Boston area.</p>
      <br>
      <p class="m-0 text-center text-white">Your daily guide, strictly focusing on the independent & underground music / art / film scenes and communities in Greater Boston and New England at large, and the often marginalized cultures that comprise and support them. Brain Arts Org is supported in part by a grant from the Boston Cultural Council, a local agency which is funded by the Massachusetts Cultural Council, administrated by the Mayor’s Office of Arts + Culture.</p>
      <br>
      <p class="m-0 text-center text-white">Copyright &copy; Brain Arts Org 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="static/jquery/jquery.min.js"></script>
  <script src="static/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="static/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="static/js/scrolling-nav.js"></script>

</body>

</html>
