{% extends "base.html" %} {% block content %}
<div class="container" style="padding: 30px 0 30px;">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 align="center">Edit Service</h1>
        </div>
        <form
          enctype="multipart/form-data"
          action=""
          method="post"
          style="padding: 15px;"
        >
          <div class="form-group">
            <label>Title</label>
            <input
              class="form-control"
              type="text"
              name="title"
              value="{{ service.title }}"
            />
          </div>

          <div class="form-group">
            <label>Signup Link</label>
            <input
              class="form-control"
              type="text"
              name="signup_link"
              value="{{ service.signup_link }}"
            />
            <p>
              Make sure to copy/paste the whole link, including "https"
            </p>
          </div>

          <div class="form-group">
            <label>Image</label><br />
            <input type="file" id="img" name="file" />

            <p style="padding-top: 10px;">
              <span style="font-weight: bold;">Important Note:</span> Image file
              size must not exceed 8 MB or image previews won't work when
              sharing.
            </p>
          </div>

          <a href="upload" target="_blank">Add additional images</a>

          <div class="form-group" style="padding-top: 10px;">
            <label>Content</label>
            <p>
              <span style="font-weight: bold;">Important Note:</span> Content
              must use markdown format. To preview formatting visit
              <a href="https://stackedit.io/app#" target="_blank"
                >https://stackedit.io/app#</a
              >
              and paste content into the left pane. The toolbar can be used to
              automatically generate markdown for styling text and adding links.
              For more information on markdown see
              <a
                href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet"
                target="_blank"
                >markdown cheatsheet</a
              >.
            </p>

            <textarea class="form-control" rows="20" name="content">
{{ service.content }}
						</textarea
            >
          </div>

          <input
            class="form-control"
            type="text"
            name="service_id"
            value="{{ service.id }}"
            hidden
          />

          <button type="submit" class="btn btn-secondary" style="float: right;">
            Update
          </button>
        </form>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
{% endblock %} {% block scripts %} {{ super() }}
<script>
  $("#myFooter").hide();
  $("body").css("background-color", "#f4f4f4");
</script>
{% endblock %}
