<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Brain Arts</title>

  <!-- Bootstrap core CSS -->
  <link href="static/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="static/css/styles.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="static/img/bao_logo.png" class="img-logo"></a>
      <!--<a class="navbar-brand js-scroll-trigger" href="#page-top"></a>-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <!--
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Projects
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="nav-link js-scroll-trigger" href="#DAP">Dorchester Art Project</a>
              <a class="dropdown-item" href="#BMF">Brain Market Flea</a>
              <a class="dropdown-item" href="#BC">Boston Compass</a>
            </div>
          </li>
          -->
          <li class="nav-item pull-right">
            <a class="nav-link js-scroll-trigger" href="#BAS">Chosen Shows</a>
          </li>
          <li class="nav-item pull-right">
            <a class="nav-link js-scroll-trigger" href="/blog">Blog</a>
          </li>
          <li class="nav-item dropdown pull-right">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Our Projects
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item js-scroll-trigger" href="#DAP">Dorchester Art Project</a>
              <a class="dropdown-item js-scroll-trigger" href="#BMF">Brain Market Flea</a>
              <a class="dropdown-item js-scroll-trigger" href="#BC">Boston Compass</a>
            </div>
          </li>
          <li class="nav-item dropdown pull-right">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Get Involved
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="https://withfriends.co/brain_arts_organization_inc">Donate</a>
              <a class="dropdown-item" href="https://docs.google.com/forms/d/e/1FAIpQLScssa9lAj2SxgiCUiizpFB03oRMVtVPXoF9bQBOATWh4jr8xw/viewform">Volunteer</a>
            </div>
          </li>
          <li class="nav-item pull-right">
            <a class="nav-link js-scroll-trigger" href="#Contact">About</a>
          </li>
          <!--
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://withfriends.co/brain_arts_organization_inc">Donate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://docs.google.com/forms/d/e/1FAIpQLScssa9lAj2SxgiCUiizpFB03oRMVtVPXoF9bQBOATWh4jr8xw/viewform">Volunteer</a>
          </li>
          -->
        </ul>
      </div>
    </div>
  </nav>
  
  <div style="height:50px"></div>

  <header class="bg-primary text-white">
    <img src="/static/img/headersite.jpg" style="width: 100%">
    <img src="/static/img/body.jpg" style="width: 100%">
  </header>

  <section id="About" class="section-about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <!--<h2>About</h2>-->
          <div class="icon-div">
            <a href="https://www.instagram.com/brain_arts_org/"><img src="static/img/insta-inv.png" class="icon-link"></a>
            <a href="https://www.facebook.com/brainartsorg/"><img src="static/img/facebook-inv.png" class="icon-link"></a>
            <a href="https://www.flickr.com/photos/brainartsorg/"><img src="static/img/flickr.png" class="icon-link"></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="BAS" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Chosen Shows</h2>
          <p class="lead">Brain Arts Organization's Chosen Shows calendar featured in the Boston Compass newspaper and at Brain-Arts.org</p>
          <iframe src="https://calendar.google.com/calendar/embed?src=brain-arts.org_cs2ruvhpnv1d0cp12isfushun8%40group.calendar.google.com&ctz=America%2FNew_York" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
          
          
          {% block showslist %}
          {% endblock %}
          
          <!--
          {% if not shows %}
          <p class="lead">Sorry, no upcoming shows :(</p>
          {% else %}
            {% for show in shows %}
            <p class="lead">{{ show.artist }} is playing on {{ show.date }} at {{ show.location }}</p>
            {% endfor %}
          {% endif %}
          -->
          
          
        </div>
      </div>
    </div>
  </section>

  <section id="DAP" class="section-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2><a href="https://dorchesterartproject.org/" style="color: black;">Dorchester Art Project</a></h2>
          <p class="lead">In January 2018, Brain Arts Org took over operations of the Dorchester Art Project, a community arts center in the Fields Corner neighborhood of Dorchester. In addition to housing 13 private artist studios, DAP features two gallery spaces, a zine library and a small performance hall.</p>
          <br>
          <img src="static/img/dap.jpg" class="img-center">
        </div>
      </div>
    </div>
  </section>

  <section id="BMF" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2><a href="https://www.jessicalucci.org/events/brain-market-flea" style="color: black;">Brain Market Flea</a></h2>
          <p class="lead">Brain Market Flea is a volunteer-run, bi-monthly market at the Cambridge Community center featuring artisans and enthusiasts from across New England and beyond. Our vendors sell everything from handmade zines and original artwork to leather, glass, ceramic and fiber goods. With the full force of Brain Arts Org behind it, Brain Market Flea has become one of the most highly attended markets in the area, often drawing more than 1,000 visitors in a single day. </p>
          <br>
          <img src="static/img/bmf.jpg" class="img-center">
        </div>
      </div>
    </div>
  </section>

  <section id="BC">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2><a href="https://www.flickr.com/photos/brainartsorg/albums/72157711330070668" style="color: black;">Boston Compass</a></h2>
          <p class="lead">
          The Boston Compass is our 4-page free newspaper distributed monthly to over 300 community spaces across the Greater Boston Area. With approximately 6k issues printed monthly, each issue serves primarily as a directory of curated music, art, and film events, focusing on non-commercial and under-represented artists in our community.</p>
          <br>
          <img src="static/img/bc.png" class="img-center">
        </div>
      </div>
    </div>
  </section>

  <section id="Contact" class="section-contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>About</h2>
          <p class="lead">Various contact information (phone, email, instagram, facebook)</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Brain Arts Organization, a 501(c)(3) non-profit brought to you by the musicians, artists, writers, and enthusiasts of the Boston area.</p>
      <br>
      <p class="m-0 text-center text-white">Your daily guide, strictly focusing on the independent & underground music / art / film scenes and communities in Greater Boston and New England at large, and the often marginalized cultures that comprise and support them. Brain Arts Org is supported in part by a grant from the Boston Cultural Council, a local agency which is funded by the Massachusetts Cultural Council, administrated by the Mayor’s Office of Arts + Culture.</p>
      <br>
      <p class="m-0 text-center text-white">Copyright &copy; Brain Arts Org 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="static/jquery/jquery.min.js"></script>
  <script src="static/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="static/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="static/js/scrolling-nav.js"></script>

</body>

</html>
