{% extends "base.html" %}
{% block content %}
<section class="blog-header">
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto lead">
        <h2>No Fucker Interview</h2>
        <h5>By Ghost</h5>
        <br>
        <p style="font-weight: bold">
          Nevermind the 250 word limit,
          <br>
          Here's PURE IMPACT!
          <br><br>
          Recently, I had the chance to chat about band history, heroin addiction, recovery, and what is yet to come from Upstate NY D-beat Master, No Fucker.
          <br><br>
          To start off, could you give us a brief history for those who may be unfamiliar? And what is the current No Fucker line-up?
        </p>
        <p>
          Johnny and I started the band in the fall of 2002. We were in a bland generic crust band that wasn’t meeting our expectations. We needed something more. We had a vision of an American noise dbeat band, something that other people told us was impossible.
        </p>
        <p style="font-weight: bold;">Impossible how?</p>
        <p>
          The US punk scene was desperate for it.  We were desperate for it. We knew what we wanted and put our hearts and souls into it. In the beginning, our sets would clear rooms. Kids wearing Discharge and Disclose shirts would look back at us with twisted contorted faces before they left the room. A handful of punks who stayed fueled our rage, so we’d fuck shit up for them.  
          <br><br>
          After Kawakami (Disclose) heard our demos a bond formed. He was not just a friend, but a mentor and a brother. Other punks in the US and around the world got down with it and it gave us enough inspiration to push through the resistance and shit. After all, we were just some fucked up dudes from Nowhere NY without some big punk name behind us. The bullshit fueled our anger and rage. We got serious playing 3-4 hours a day When we weren’t playing we were emailing with Kawakami trading tapes, studying disclose and all other D-beat bands before us. We were raw. Chaotic. And remembered Confuse. We weren’t cool. We weren’t hip. But we didn’t give a fuck. We were raw and our noise was gonna bum you the fuck out.
          <br><br>
          We didn’t have a punk scene in upstate NY.  We just kept giving random kids bass guitars and said play Rainy (Discharge) Bass. Sorta like the same deal, Kawakami struggled with in Kochi-city.
          <br><br>
          A table saw accident shredded my hand and birthed the current No Fucker line-up which is JJ guitars Johnny bass/vocals and Luke drums. Same as Conquer the Innocent record.  And it will never change.
          <br>
        </p>
        <p style="font-weight: bold;">Ultimately what would you say was the demise of the project?</p>
        <p>
          The demise - A long-brewing heroin relapse. I started drinking after the table saw accident. Then I lost a couple of important people in my life. Booze couldn’t fix that, but I thought heroin would. After I relapsed, I believed I could reunite my love for No Fucker with heroin. I started isolating from JJ, shooting dope secretly, and believing I could manage it without asking for help. I’m a stubborn fuck, especially with the fear of dope-sickness staring me in the face. No Fucker didn’t stand a chance. The more I got strung out the less I heard from other punks. I’m not saying I would have let them in but not feeling abandoned or cast aside would’ve made a difference, I mean we were okay when I was wasted with a belly full of gin and a nose full of coke, but heroin is a big fucking no/no. 
          <br><br>
          It angers me because I see this shit happening in every city. How many punks have OD’d? And what the fuck could we as a community done to stop it? Standing around, ignoring them, and watching them crash and burn doesn’t work.  
          <br><br>
          I’m tired of hearing how so-n-so did something stupid when fucked on booze and drugs.  What do people expect? Not everyone can drink socially, I never could. I can’t do much socially. The stage is the only place I’m comfortable. Heroin almost killed that, too,  We praise booze. Coke, too, yet we fail to recognize that alcohol lowers inhibitions. We expect punks to live by some golden rule while wasted out of their minds. When shit happens we look past another’s mental health or psychological state of mind and hold them accountable.  As a community, a chain reaction begins, the shit-talking starts, the doors shut, and the bridges start burning. 
          <br><br>
          Luke and I are on methadone now. Maintaining a life of recovery. We have each other’s backs. Luke just celebrated two years of clean urines and has been on the program for about 4 years.  I haven’t shot drugs in over 5 but been on the program 9 years in May 2020.
          <br><br>
          I work in treatment now and advocate for harm reduction needle exchange and addiction reform.
        </p>
        <p style="font-weight: bold">What motivated you to reform? How has it been and what are your plans for the future?</p>
        <p>
          We had been talking about playing together again as life circumstances were better for everyone for some time.  This is who were are, it's our blood. Someone offered us a show in LA and we said fuck it, let's do it. The time was right and we all felt safe. Before we played we had to be clear that our recovery comes first.  So yeah, we have plans. Gonna finish a bunch of records we had planned, play some shows,  make noise, and have a good time.
        </p>
        <p style="font-weight: bold">Johnny, you came back into the public eye via an interview in Vice with talks of a book in the works. Has there been much progress on that project? Any plans for a release?</p>
        <p>
          The memoir is still happening. When I started writing these stories down it was a way to stay sober. I was kicking dope upstate and it was how I got through each day. Typing out old stories and emailing them to Staff in the UK. It kept me sober for a few months, but I didn’t want it. I wasn’t ready to stop shooting dope. I wanted to die on the streets with a needle in my arm. Ya know a big dead rocker ending.  But the universe calls the shots and recovery snuck up on me. When I finally quit doing dope, I started looking at these stories and got serious. I sent an article to Vice and thought I could just whip up a memoir. 
          <br><br>
          It didn’t happen like that. These stories open up so many different layers of trauma, anger, and pain it takes me a while to digest it. It’s exhaustive, but each rewrite heals an old wound and changes me. I have to say the memoir has had a major healing quality. I’m in the final draft, so it’s going to get published, in 2020. Probably before GRRM releases Winds of Winter, ha.   
          <br><br>
          We’re excited to come back to Boston and play. Always good times here. Loads of support and love.  Gonna gig less and write more so look out for some new records this winter or spring. Cheers, thanks Ghost.
        </p>
        <p style="font-weight: bold">PURE IMPACT was a once monthly Boston Compass article by Punk/Underground columnist, Ghost. To keep in the loop on their current projects and goings-on follow the umbrella project: Ignore Rock'n'Roll Heroes on ig at: @IGNOREROCKNROLLHEROES</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
