{% extends "base.html" %} {% block title %}
<title>Services</title>
<meta property="og:title" content="Boston Compass Blog" />
<meta
  property="og:image"
  content="https://brain-arts.org/static/img/arty.jpg"
/>
{% endblock %} {% block content %}
<div class="container" style="padding: 25px;">
  {% if current_user.is_authenticated %}
  <a
    class="btn btn-success"
    href="/create_service"
    style="float: right;"
  >
    Create Service
  </a>
  {% endif %}
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <h1>Services:</h1>
      <div class="blog-listings">
        <br />
        {% for service in services %}
        <div class="row">
          <div class="col-md-4">
            <a href="/services?service={{ service.link_name }}"><img
              src="static/upload/{{ service.img_id }}"
              style="
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
              "
            /></a>
          </div>
          <div class="col-md-8">
            <a href="/services?service={{ service.link_name }}" class="blog-link"
              >{{ service.title }}</a
            >
            <!-- <h5>By {{ service.author }}</h5> -->
            <!-- <p>{{ service.date_published }}</p> -->
            <p class="blog-blurb">
              {{ service.content|safe }}
            </p>
          </div>
        </div>
        <br /><br />
        {% endfor %}

        
        </div>
        <br />
      </div>
    </div>
  </div>
</div>

{% endblock %}
