{% extends "base.html" %} {% block title %}
<title>{{ service.title }}</title>
<meta property="og:title" content="{{ service.title }}" />
<meta
  property="og:image"
  content="https://brain-arts.org/static/upload/{{ service.img_id }}"
/>
{% endblock %} {% block content %}
<div class="container" style="padding: 25px;">
  {% if current_user.is_authenticated %}
  <a
    class="btn btn-success"
    href="edit_service?service={{ service.link_name }}"
    style="float: right;"
  >
    Edit Service
  </a>
  {% endif %}
  <div class="row">
    <div class="col-lg-8 mx-auto lead">
      <h2>{{ service.title }}</h2>

      <!-- <p>{{ service.date_published }}</p> -->
      <img
        src="static/service_upload/{{ service.img_id }}"
        style="
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 75%;
        "
      />
      <br />

      {{ service.html_content|safe }}
      <a href="{{ service.signup_link }}"
        ><button style="background-color: orange; float: center;">
          BOOK NOW
        </button></a
      >
    </div>
  </div>
</div>
{% endblock %}
